sdk: /usr/local/opt/dart/libexec
install_path: /Users/anton/crossdart-install
output_path: /Users/anton/crossdart-out
templates_path: /Users/anton/projects/mixbook/crossdart/templates
pub_cache_path: /Users/anton/.pub-cache
db_login: root
db_password:
db_host: localhost
db_port: 3306
db_name: crossdart2
bucket: www.crossdart.info
gcs_prefix: p
gc_project_name: manifest-craft-100803
gc_zone: us-central1-f
gc_group_name: crossdart-parsers
