.popup {
  padding: 0.5em;
  width: 300px;
}

.crossdart-enabled {
  padding: 0.3em 0;
}

.crossdart-url {
  padding: 0.3em 0;
}

#url, #token {
  padding: 0.3em 0.6em;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.github-token {
  padding: 0.3em 0;
}
